<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <form method="POST" action="/login">
        <h2>Login</h2>
        <div>
            <label>Email address</label>
            <input type="email" name="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <button>Login</button>
        <div>
            <a href="/signup">Don't have an account? click here to go to SignUp page</a>
        </div>
    </form>
    
</body>
</html>